@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /* display: grid;
    grid-template-rows: 20vh 80vh 400vh 100vh; */
    font-family: 'Poppins', sans-serif;

}


header {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

header>a {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
}

nav {
    display: flex;
    gap: 5rem;
    transition: 1s;
}
.recarregar:hover{
    transform: scale(1.1);
    transition: 1s;
}


/* nav>a:hover {
    color: #F0AA29;
    transition: 0.2s;
} */
/* nav>a::before {
    margin-left: auto;
  }
  
  nav>a::after, nav>a::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #F0AA29;
    display: block;
    transition: 0.5s;
  }
  
  nav>a:hover::after, nav>a:hover::before {
    width: 100%;
  } */
  .box {
    width: 8.999666666666667vw;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 13px;
    text-align: center;
    /* margin: 0 5px; */
    background: transparent;
    text-transform: uppercase;
    font-size: 1.3rem;

  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .box:hover:before {
    border-color: #F0AA29;
    height: 100%;
    transform: translateX(0);
    transition: .2s transform linear, .2s height linear .2s; 
    cursor: pointer;
  }
  
  .box:hover:after {
    border-color: #d19421;
    height: 100%;
    transform: translateX(0);
    transition: .2s transform linear, .2s height linear .2s;
    cursor: pointer;
  }
  
  nav>a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
  nav>span>a {
    text-decoration: none;
    color: #262626;
  }

  /* MAIN */

.pag-inicial {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.text-principal {
    display: grid;
    grid-template-rows: 3fr;
    justify-items: center;
}

.text-principal p {
    margin-bottom: 0;
}

.text-principal span {
    font-weight: bold;

}

/* SOBRE MIM */

main {
  display: grid;
  grid-template-rows: 100vh 100vh 100vh 100vh;
}
.sobre-mim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 2rem;
    border: 1px solid black;
}

.img-sobre-mim {
    display: flex;
    justify-content: center;
    width: 50%;
}

.text-sobre-mim {
    width: 40%;
    height: 70%;
    border-radius: 20px;
    margin-right: 5vw;
    margin-left: 10%;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: 8px 10px 60px rgba(0, 0, 0, 0.219), -8px -10px 60px rgba(0, 0, 0, 0.219);
}

.text-sobre-mim h2 {
  justify-content: flex-start;
    color: #F0AA29;
    font-size: 4rem;
    text-shadow: 1px 1px 1px #d19421;
}
.text-sobre-mim p {
  padding: 0rem 9rem;
}

.formacao {
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    height: 35%;

}

.formacao img {
    width: 80px;
}

.formacao h3 {
    color: #F0AA29;
}

.formacao-cursos {
    padding: 0.2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 0.7em;
    text-align: center;
}
.formacao-html {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    text-decoration: underline #F0AA29 1px;
}
.formacao-css {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    text-decoration: underline #F0AA29 1px;
}


/* HABILIDADES */
.habilidades {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 10rem;
  border: 1px solid black;
}
.habilidades h2 {
  font-size: 5rem;
  color: #F0AA29;
  text-shadow: 1.5px 1.5px 1px #d19421;
}



/* PROJETOS */


.projetos {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 10rem;
  border: 1px solid black;
}
.projetos h2{
  font-size: 5rem;
  color: #F0AA29;
  text-shadow: 1px 1px 1px #d19421;
}
.projetos-git {
  display: flex;
  gap: 1rem;
}
p {
  margin: 0;
}
.aulasIOS, .cartoes{
  border: 1px solid black;
  border-radius: 20px ;
  width: 30vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.aulasIOS, .cartoes>p>a {
  text-decoration: none;
  color: black;
}
.aulasIOS>p>a:hover {
  color: #F0AA29;
  transition: 0.5s;
  transform: scale(1);
}
.frontmentor>p>a:hover {
  color: #F0AA29;
  transition: 0.5s;
  transform: scale(1);
}

