@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

/* Variáveis */
:root {
    --dark: #334569;
    --azul-escuro: #14316C;
    --azul-escuro2: #2253B5;
    --azul: #2C6BE8;
    --azul-claro: #749CEC;
}


body {
    background-color: var(--dark);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

/* Header */

header {
    width: 100vw;
    height: 8vh;
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header>a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    gap: 2rem;
}

nav>a {
    text-decoration: none;
    color: white;
}
nav>a:hover {
    color: #749CEC;
    transition: 0.5s;

}
.botoes {
    display: flex;
    gap: 1rem;
}

.register {
    width: 80px;
    height: 30px;
    font-weight: 700;
    border-radius: 5px;
    border: gray;
    cursor: pointer;
}
.register :hover {
    background-color: #749CEC;
    transition: 0.5s;
}

.login {
    width: 80px;
    height: 30px;
    font-weight: 700;
    border-radius: 5px;
    border: gray;
    cursor: pointer;
}

/* Conteúdo */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.main-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-width: 650px;

    color: white;

}

.conteudo>h1 {
    color: var(--azul-claro);
}

strong {
    color: var(--azul-claro);
}

.img-main {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-main >img {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* Habilidades */

.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-claro);
    width: 90%;
    height: 15vh;
    border-radius: 10px ;
}

.habilidades >ul {
    display: flex;
    gap: 3rem;
}

/* Quem sou eu? */

.quem-sou-eu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.esquerda-quem {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.esquerda-quem >img {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.direita-quem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-width: 650px;
    color: white;
}
.direita-quem >h2 {
    color: var(--azul-claro);
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-claro);
    width: 90%;
    height: 15vh;
    border-radius: 10px ;
}
footer >ul {
    display: flex;
    gap: 2rem;
}
footer a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.664);
}
.footer {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

