@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800;900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: lightseagreen;
}
.objetivos {
    column-gap: 0;
    column-count: 2;
    
}
